<!DOCTYPE html>
<html lang="es" ng-app="myApp" ng-controller="myCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - Mi Tienda en Línea</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="../script.js"></script>
    <link rel="stylesheet" href="../Assets/login.css">
</head>
<body>
    <header>
        <h1>Iniciar Sesión</h1>
    </header>


    <section>
        <h2>Ingresa a tu Cuenta</h2>
        <!--action="../api/auth/login" method="post"-->
        <form>
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" ng-model="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" ng-model="password" name="password" required>

            <button type="submit" ng-click="verify_user()">Iniciar Sesión</button>
            <a href="signup.html">Registrarse</a>
        </form>
    </section>

    <footer>
        <p>&copy; 2024 Mi Tienda en Línea - Iniciar Sesión. Todos los derechos reservados.</p>
    </footer>

</body>
</html>
